<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       						http://www.springframework.org/schema/beans/spring-beans.xsd
       						http://www.springframework.org/schema/context
       						http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="sTV" class="kr.hs.study.beans.SamsungTV">
		<property name="name" value="SamsungTV"></property>
		<property name="price" value="2000000"></property>
		<property name="speaker" ref="sSpeaker"></property>
	</bean>
	<bean id="lTV" class="kr.hs.study.beans.LGTV">
		<constructor-arg value="LGTV" index="0"></constructor-arg>
		<constructor-arg value="3000000" index="1"></constructor-arg>
		<constructor-arg ref="aSpeaker" index="2"></constructor-arg>
	</bean>
	
	<bean id="sSpeaker" class="kr.hs.study.beans.SonySpeaker"></bean>
	<bean id="aSpeaker" class="kr.hs.study.beans.AppleSpeaker"></bean>
</beans>
